<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{{style}}}
  <script src="remark.min.js"></script>
  <!-- Mathjax CDN -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>-->  
  <!-- MathJax Local install -->
  <script type="text/javascript" src="node_modules/mathjax/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured"></script>
  <script>
    // Backslide setup
    function create() {
      return remark.create({
        {{{source}}},
        ratio: '16:9',
        highlightLines: true,
        countIncrementalSlides: false,
        slideNumberFormat: "",
        highlightStyle: 'github'
      });
    }
    // Mathjax setup
    MathJax.Hub.Config({
          tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          }
      });

      MathJax.Hub.Configured();
  </script>
</head>
<body onload="slideshow = create()">
</body>
</html>